.heading{
  position: relative;
  display: inline;
  margin-left: 29px;
}
.heading::after{
  content: " ";
  width: 3px;
  height:450px;
  display: block;
  background-color: black;
  position: absolute;
  top: 50px;
  left: 7px;
}

.heading2{
  position: relative;
  display: inline;
  margin-left: 27px;
}
.heading2::after{
  content: " ";
  width: 3px;
  height:50px;
  display: block;
  background-color: black;
  position: absolute;
  top: 30px;
}

.heading3{
  position: relative;
  display: inline;
}
.heading3::after{
  content: " ";
  width: 500px;
  height:2px;
  display: block;
  background-color: black;
  position: absolute;
  top: 800px;
  left: 110px;
}
.heading4{
  position: relative;
  display: inline;
}
.heading4::after{
  content: " ";
  width: 500px;
  height:2px;
  display: block;
  background-color: black;
  position: absolute;
  top: 195px;
  left: 920px;
}
